.App {
  text-align: center;
  font-family: Calibri;
}
.input__items{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.input__item{
  padding: 10px 5px;
}
.submit__btn{
  border: none;
  padding: 15px 40px;
  background-color: red;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}